chapter04/4.1/manage_ec2_instances_01.json
{
  "Comment": "Manage EC2 Instances 01",
  "StartAt": "DescribeInstances",
  "States": {
    "DescribeInstances": {
      "Type": "Task",
      "Parameters": {
        "Filters": [
          {
            "Name": "tag:Environment",
            "Values": [
              "development"
            ]
          },
          {
            "Name": "instance-state-name",
            "Values": [
              "stopped"
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "ResultSelector": {
        "instanceIds.$": "$.Reservations[*].Instances[0].InstanceId"
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.instanceIds[0]",
            "IsPresent": true
          },
          "Comment": "No instances to start",
          "Next": "Success"
        }
      ],
      "Default": "StartInstances"
    },
    "Success": {
      "Type": "Succeed"
    },
    "StartInstances": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "InstanceIds.$": "$.instanceIds"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances"
    }
  }
}