chapter04/4.3/manage_ec2_instances_03.json
{
  "Comment": "Manage EC2 Instances 03",
  "StartAt": "Call Holiday API",
  "States": {
    "Call Holiday API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://s-proj.com/utils/checkHoliday.php",
        "Method": "GET",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:ap-northeast-1:XXXXXXXXXXXX:connection/holiday_api/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
        },
        "QueryParameters": {
          "kind": "h",
          "date.$": "States.Format('{}{}{}', States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, '-T'), 0), States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, '-T'), 1), States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, '-T'), 2))"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "HolidayJudgement",
      "ResultSelector": {
        "type.$": "$.ResponseBody"
      }
    },
    "HolidayJudgement": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "holiday",
          "Comment": "Holiday",
          "Next": "Success"
        }
      ],
      "Default": "DescribeInstances"
    },
    "DescribeInstances": {
      "Type": "Task",
      "Parameters": {
        "Filters": [
          {
            "Name": "tag:Environment",
            "Values": [
              "development"
            ]
          },
          {
            "Name": "instance-state-name",
            "Values": [
              "stopped"
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "ResultSelector": {
        "instanceIds.$": "$.Reservations[*].Instances[0].InstanceId"
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.instanceIds[0]",
            "IsPresent": true
          },
          "Comment": "No instances to start",
          "Next": "Success"
        }
      ],
      "Default": "StartInstances"
    },
    "Success": {
      "Type": "Succeed"
    },
    "StartInstances": {
      "Type": "Task",
      "Parameters": {
        "InstanceIds.$": "$.instanceIds"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Next": "Wait",
      "ResultPath": null
    },
    "Wait": {
      "Type": "Wait",
      "Next": "StopInstances",
      "Seconds": 32400
    },
    "StopInstances": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "InstanceIds.$": "$.instanceIds"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances"
    }
  }
}